.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}

/* sidebar styles */
.logo-text {
    width: 100px;
    height: auto;
}
.bi{
    margin-right: 10px;
}

.story{
    /* width: 60px; */
    height: 60px;
    /* border-radius: 50%; */
    /* border: 2px solid #ff8501; */
}

.dp{
    
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;

}

.post-image{
    width:400px;
}

.suggestions h5{
    font-size: 16px;
    /* font-weight: 600; */
}
.suggestions .dp{
    margin-top: 0px !important;
}
.story{
  padding: 10px;
}
.story-image {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.gradient-border {
  width: 50px;
  height: 50px;
  padding: 3px; 
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff2366, #ffcc00);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
}